@font-face {
  font-family: "Noto Sans KR", sans-serif;
  src: "https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap";
}

:root {
  background-color: white;
  color: #333333;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
  white-space: pre-line;
  input::placeholder,
  textarea::placeholder {
    color: #c1c1c1;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: 300;
  }
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* 기본 여백을 제거하여 작성된 CSS를 제어. */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* list를 role값으로 갖는 ul, ol 요소의 기본 목록 스타일을 제거 */
ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 핵심 body의 기본값을 설정 */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* 제목에 대한 text-wrap을 balance로 설정 */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* input 및 button 글꼴 */
input,
button,
textarea,
select {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #333333;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
  resize: none;
}

/* input, textarea, select foucs 시 border 삭제*/
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
